export OS_USERNAME={{ hostvars.localhost.username.stdout }}
export NOVA_VERSION=1.1
export OS_PROJECT_NAME={{ hostvars.localhost.project_name.stdout }}
export OS_PASSWORD={{ hostvars.localhost.password.stdout }}
export OS_NO_CACHE=True
export COMPUTE_API_VERSION=1.1
export OS_CLOUDNAME=overcloud
export OS_AUTH_URL={{ hostvars.localhost.auth_url.stdout }}
export OS_AUTH_TYPE=password
export controller={{ hostvars }}
